body {
    font-family: Arial;
}

.add-button:hover{
    opacity: 10px;
    cursor: pointer;
}

.add-button {
    background-color: rgb(44, 117, 44);
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 100px;
    
  
}
.delete-button{
    border: none;
    background-color: rgb(174, 18, 18);
    color: rgb(255, 255, 255);
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
}